.radio-button {
    position: relative;
    min-height: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.radio-button input:checked,
.radio-button input:not(:checked)
{
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.radio-button input:checked + label,
.radio-button input:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 38px;
    line-height: 20px;
    cursor: pointer;
}

.radio-button input:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: -10px;
    top: -7px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.radio-button input:checked + label:before {
    content: "";
    position: absolute;
    left: -10px;
    top: -7px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #7D98F6;
    border: 1px solid #7D98F6;
}

.radio-button input:checked + label:after,
.radio-button input:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-button input:not(:checked) + label:after {
    opacity: 0;
}

.radio-button input:checked + label:after {
    opacity: 1;
}